.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hero .slider-item {
    position: relative;
    min-height: 100vh;
}

.hero .slider-item .one-third.img {
    min-height: 100vh;
    width: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.hero .slider-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}

.hero .slider-item .one-forth {
    position: relative;
    z-index: 2;
    padding: 2em;
}

@media (max-width: 768px) {
    .hero .slider-item {
        overflow: visible;
    }
    
    .hero .slider-item .one-third.img {
        position: fixed !important;
        min-height: 100vh;
    }
    
    .hero .slider-item .one-forth {
        background: rgba(0, 0, 0, 0.5);
        color: white;
        margin-top: 50vh;
        transform: translateY(-50%);
    }
}
